/* purgecss start ignore */
@import "./reset.css";
@import "./fontface.css";
@import "./nprogress.css";
@import "./article.css";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

*,
*::before,
*::after {
  @apply border-solid;
}

tt,
code,
kbd,
samp {
  @apply font-mono;
}

::selection {
  @apply bg-columbia;
}

html,
body,
#__next {
  @apply h-full;
}
