@import "tailwindcss/base";
@import "./nprogress.css";
@import "./article.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*,
*::before,
*::after {
  @apply border-solid;
}

tt,
code,
kbd,
samp {
  @apply font-mono;
}

::selection {
  @apply bg-columbia;
}

html,
body,
#__next {
  @apply h-full;
}
